<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
        <!-- 开启注解驱动 -->
        <mvc:annotation-driven></mvc:annotation-driven>
        <!-- 设置默认处理器(当在没有找到请求的控制器时,使用默认处理器去处理请求) -->
        <mvc:default-servlet-handler/>
        <!-- 配置扫描包路径(配置要交给spring管理的类所在的包路径) -->
        <context:component-scan base-package="myspringmvc4.use.contrller"/>
        
         <!-- 配置spring mvc 视图解析器(需要添加jstl依赖包支持) -->
         <!-- viewResolver: 视图解析器名称,springmvc默认使用该名称视图解析器 -->
         <!-- class: 视图解析器实现类UrlBasedViewResolver,根据路径解析视图 -->
         <!-- viewClass: jstl视图解析器 -->
         <!-- prefix: 表示解析视图的前缀 -->
         <!-- suffix: 表示解析视图的后缀-->
         
         <!-- /WEB-INF/jsp/index.jsp -->
		  <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		    <property name="prefix" value="/WEB-INF/jsp/" />
		    <property name="suffix" value=".jsp" />
		  </bean>
        	
</beans>